%footer.footer
  .container
    .row-fluid
      .span6
        %p Powered with Thrash Metal, Coca-Cola, Ruby on Rails & Bootstrap !
      .span6
        %small.pull-right= "Developed by #{link_to('lccezinha', 'http://www.github.com/lccezinha', :rel => :tooltip, :target => '_blank', :title => 'see my github :)', :data => { :placement => :top })}".html_safe
