.alert.alert-info
  %button.close{ :data => { :dismiss => :alert } } X
  %h3= @msg

.alert.alert-warning
  %button.close{ :data => { :dismiss => :alert } } X
  %h3 Alerta

.alert.alert-error
  %button.close{ :data => { :dismiss => :alert } } X
  %h3 Alerta

= dashboard_for_role(current_user.role.name)
