.dashboard
  %h2 Dashboard
  %hr
    %ul.dashboard-items
      %li= link_to 'haha', '#', :class => 'btn btn-large btn-info', :rel => 'tooltip', :title => t('dashboard.moderador.items.first'), :data => { :placement => :bottom }
      %li= link_to 'haha', '#', :class => 'btn btn-large btn-info', :rel => 'tooltip', :title => t('dashboard.moderador.items.first'), :data => { :placement => :top }
      %li= link_to 'haha', '#', :class => 'btn btn-large btn-info', :rel => 'tooltip', :title => t('dashboard.moderador.items.first'), :data => { :placement => :bottom }
      %li= link_to 'haha', '#', :class => 'btn btn-large btn-info', :rel => 'tooltip', :title => t('dashboard.moderador.items.first'), :data => { :placement => :top }
