= form_tag route_for_search, :method => :get, :class => 'form-inline' do 
  = text_field_tag :search, params[:search], :class => 'input-xlarge', :placeholder => t('placeholders.search')
  = submit_tag t('forms.search.submit'), :class => 'btn btn-info'
